$color-light: #f8f09d;
$color-light-hover: #e7d462;
$color-medium: #6b82a9;
$color-dark: #313f6c;
$color-darker: #0e124d;

@mixin box-shadow {
  box-shadow: 0px 0px 5px 5px rgba(49, 63, 108, 0.75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(49, 63, 108, 0.75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(49, 63, 108, 0.75);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.a-center {
  align-items: center;
}

.a-start {
  align-items: flex-start;
}

.space-even {
  justify-content: space-evenly;
}

.space-btw {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.p10 {
  padding: 10px;
}

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g20 {
  gap: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.w-100 {
  width: 100%;
}

input, textarea {
  padding: 10px;
  border: $color-medium solid 1px;
  border-radius: 5px;

}

input:focus {
  outline: none;
}

.App {
  background-color: $color-darker;
  min-height: 100vh;
  color: $color-light;
}

.container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.section {
  background-color: $color-light;
  border-radius: 5px;
  padding: 10px;
  color: $color-darker;
  max-width: 100%;
}

.section-darker {
  background-color: $color-medium;
  border-radius: 5px;
  padding: 10px;
  color: $color-darker;
}

.form {
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.toolbar {
  background-color: $color-dark;
  display: flex;
  align-items: center;
  color: $color-light;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
}

button {
  text-decoration: none;
  color: $color-darker;
  font-weight: bold;
  background-color: $color-light;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  border: $color-light solid 1px;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  &:hover {
    background-color: $color-light-hover;
  }
}

.nav {
  display: none;
}

.menu-item {
  flex: 1;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: $color-light;
  background-color: $color-dark;
  margin: 0;
  border: none;
  font-weight: normal;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  padding: 0;

  &:hover {
    background-color: $color-dark;
    border-bottom: $color-light solid 2px;
    font-size: 1.1rem;
  }
}

.active {
  border-bottom: $color-light solid 2px;
  font-size: 1.1rem;
}

.btn-dark {
  background-color: $color-dark;
  border: $color-dark solid 1px;
  color: $color-light-hover;
  font-weight: normal;

  &:hover {
    background-color: $color-darker;
  }
}

.btn-small {
  padding: 5px 15px;
}

.link {
  color: #47d4d9;
  margin: 0 5px;
}

.profile-pic {
  max-width: 50%;
  min-height: 120px;

  & > img {
    width: 300px;
    max-width: 100%;
    border-radius: 5px;
  }
}

.post-pic > img {
  width: 100%;
  min-width: 200px;
  border-radius: 5px;
}

.user-card {
  background-color: $color-light;
  border-radius: 5px;
  color: $color-darker;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  & > img {
    width: 100%;
    min-height: 100%;
  }
}

.cards, .posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    @include box-shadow();
    width: 350px;
    max-width: 100%;
    padding: 10px;
    background-color: $color-medium;
    border-radius: 5px;
    color: $color-light;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  & input {
    width: 100%;
  }
}

.post-card {
  overflow: auto;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $color-light-hover;
  }

  & img {
    width: 100%;
    max-height: 500px;
  }
}

.comment {
  background-color: $color-light-hover;
  border-radius: 5px;
  padding: 5px 10px;
}

.chat-card {
  background-color: $color-light-hover;
  border-radius: 5px;
  color: $color-darker;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #efc45c;
  }
}

.last-msg {
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 200px;
}

.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    width: 100%;
    min-height: 100%;
  }
}

.message-window {
  display: grid;
  grid-template-columns: 1fr;
}

.menu-closed {
  display: none;
}

.menu-opened {
  display: flex;
  flex-direction: column;
}

.chat-box {
  width: 100%;
  background-color: $color-light;
}

.conversation {
  overflow: auto;
  box-sizing: border-box;
  height: #{calc(100vh - 257px)};
}

.my-msg {
  justify-content: flex-end;

  & > div {
    background-color: #efc45c;
  }
}

.message-field {
  height: 40px;
  box-sizing: border-box;
}

.alert {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    @include box-shadow();
    width: 350px;
    padding: 20px;
    background-color: $color-medium;
    border-radius: 10px;
    color: $color-light;
  }
}

.profile-right {
  width: 250px;
  max-width: 100%;
}

@media (min-width: 600px) {
  .icon-nav {
    display: none;
  }
  .nav {
    display: flex;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .message-window {
    grid-template-columns: 200px 1fr;
  }
  .last-msg {
    width: 100px;
  }
  .btn-toggle {
    display: none;
  }
  .menu-closed {
    display: flex;
  }
  .menu-opened {
    flex-direction: row;
  }
  .conversation {
    height: #{calc(100vh - 200px)};
  }
  .chat-left {
    height: #{calc(100vh - 90px)};
    overflow: auto;
  }
}

@media (min-width: 768px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
  .message-window {
    grid-template-columns: 300px 1fr;
  }
  .last-msg {
    width: 180px;
  }
  .profile-right {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .posts {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .posts {
    grid-template-columns: repeat(5, 1fr);
  }
}