* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.a-center {
  align-items: center;
}

.a-start {
  align-items: flex-start;
}

.space-even {
  justify-content: space-evenly;
}

.space-btw {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.p10 {
  padding: 10px;
}

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g20 {
  gap: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.w-100 {
  width: 100%;
}

input, textarea {
  padding: 10px;
  border: #6b82a9 solid 1px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.App {
  background-color: #0e124d;
  min-height: 100vh;
  color: #f8f09d;
}

.container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.section {
  background-color: #f8f09d;
  border-radius: 5px;
  padding: 10px;
  color: #0e124d;
  max-width: 100%;
}

.section-darker {
  background-color: #6b82a9;
  border-radius: 5px;
  padding: 10px;
  color: #0e124d;
}

.form {
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.toolbar {
  background-color: #313f6c;
  display: flex;
  align-items: center;
  color: #f8f09d;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
}

button {
  text-decoration: none;
  color: #0e124d;
  font-weight: bold;
  background-color: #f8f09d;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  border: #f8f09d solid 1px;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
button:hover {
  background-color: #e7d462;
}

.nav {
  display: none;
}

.menu-item {
  flex: 1;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #f8f09d;
  background-color: #313f6c;
  margin: 0;
  border: none;
  font-weight: normal;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  padding: 0;
}
.menu-item:hover {
  background-color: #313f6c;
  border-bottom: #f8f09d solid 2px;
  font-size: 1.1rem;
}

.active {
  border-bottom: #f8f09d solid 2px;
  font-size: 1.1rem;
}

.btn-dark {
  background-color: #313f6c;
  border: #313f6c solid 1px;
  color: #e7d462;
  font-weight: normal;
}
.btn-dark:hover {
  background-color: #0e124d;
}

.btn-small {
  padding: 5px 15px;
}

.link {
  color: #47d4d9;
  margin: 0 5px;
}

.profile-pic {
  max-width: 50%;
  min-height: 120px;
}
.profile-pic > img {
  width: 300px;
  max-width: 100%;
  border-radius: 5px;
}

.post-pic > img {
  width: 100%;
  min-width: 200px;
  border-radius: 5px;
}

.user-card {
  background-color: #f8f09d;
  border-radius: 5px;
  color: #0e124d;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar > img {
  width: 100%;
  min-height: 100%;
}

.cards, .posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal > div {
  box-shadow: 0px 0px 5px 5px rgba(49, 63, 108, 0.75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(49, 63, 108, 0.75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(49, 63, 108, 0.75);
  width: 350px;
  max-width: 100%;
  padding: 10px;
  background-color: #6b82a9;
  border-radius: 5px;
  color: #f8f09d;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.modal input {
  width: 100%;
}

.post-card {
  overflow: auto;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}
.post-card:hover {
  background-color: #e7d462;
}
.post-card img {
  width: 100%;
  max-height: 500px;
}

.comment {
  background-color: #e7d462;
  border-radius: 5px;
  padding: 5px 10px;
}

.chat-card {
  background-color: #e7d462;
  border-radius: 5px;
  color: #0e124d;
  cursor: pointer;
  transition: 0.3s;
}
.chat-card:hover {
  background-color: #efc45c;
}

.last-msg {
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 200px;
}

.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-avatar > img {
  width: 100%;
  min-height: 100%;
}

.message-window {
  display: grid;
  grid-template-columns: 1fr;
}

.menu-closed {
  display: none;
}

.menu-opened {
  display: flex;
  flex-direction: column;
}

.chat-box {
  width: 100%;
  background-color: #f8f09d;
}

.conversation {
  overflow: auto;
  box-sizing: border-box;
  height: calc(100vh - 257px);
}

.my-msg {
  justify-content: flex-end;
}
.my-msg > div {
  background-color: #efc45c;
}

.message-field {
  height: 40px;
  box-sizing: border-box;
}

.alert {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert > div {
  box-shadow: 0px 0px 5px 5px rgba(49, 63, 108, 0.75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(49, 63, 108, 0.75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(49, 63, 108, 0.75);
  width: 350px;
  padding: 20px;
  background-color: #6b82a9;
  border-radius: 10px;
  color: #f8f09d;
}

.profile-right {
  width: 250px;
  max-width: 100%;
}

@media (min-width: 600px) {
  .icon-nav {
    display: none;
  }
  .nav {
    display: flex;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .message-window {
    grid-template-columns: 200px 1fr;
  }
  .last-msg {
    width: 100px;
  }
  .btn-toggle {
    display: none;
  }
  .menu-closed {
    display: flex;
  }
  .menu-opened {
    flex-direction: row;
  }
  .conversation {
    height: calc(100vh - 200px);
  }
  .chat-left {
    height: calc(100vh - 90px);
    overflow: auto;
  }
}
@media (min-width: 768px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
  .message-window {
    grid-template-columns: 300px 1fr;
  }
  .last-msg {
    width: 180px;
  }
  .profile-right {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .posts {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .posts {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*# sourceMappingURL=App.css.map */
